body{
    margin: 0;
    padding: 0;
}
.hei{
    
  height: 197.6px;
  width: 197.6px;
}
/* .third-part{
  padding-left:40px;
  padding-right:25px;
  padding-bottom: 10px;
  width: 1500px;
  box-shadow: 10px 10px 40px gray;
  margin:2% 6%;
  border-radius: 15px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.third-part p{
  font-size: 14px;
}
.Flexible-part{
  display: flex;
} */